nav {
    display: flex;
    border: 1px solid black;
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  li {
    display: inline-block;
    margin: 0 10px 0 10px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    transition: 100ms;
  }
  
  .main {
    font-weight: bold;
  }
  