.create-post {
    display: block;
    position: relative;
    border: 1px solid black;
    padding: 5px;
    width: 150px;
    height: 150px;
}

input {
    background: transparent;
    border: 1px solid black;
    outline: none;
    color: black;
}

button {
    display: block;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    background-color: rgb(41, 98, 255);
}

button:active {
    background-color: rgb(14, 76, 245);
}